.App {
  text-align: center;
  
  }

  .bg {
    background-color:   #639BE4;
    height: 100%;
    background-position: center;
    background-size: cover;
    }

  .navbar-brand { 
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#container {
  display: inline;
  justify-content: space-between;
  padding-left: 0.5rem;

}

.sub {
  text-align: left;
  padding: none;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem !important;

}

#container > h3 {
  color:rgb(1, 13, 31);
font-weight: 650;
}

#container> h6 {
 
  padding-top: 0rem;
  padding-right:0.5rem;
  

}

body, html { overflow-x:hidden; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 612px x 792px is our default size of a PDF */
.pdf {
  width: 612px;
  height: 792px;
  background-color: white;
  margin: 0 auto;
}


