
.jumbotron {
  background-color: rgb(0,187,254) !important;
  padding: 1rem 1rem !important;
  max-width: 100%;
  
}

.pagetitle {
  font-weight: 650;
  font-stretch: semi-expanded;
}

.list {
padding-inline-start: 1.5rem !important;
list-style-position: outside;
padding-left: 1rem;
}

.card > .table {
  border-right: 2px;
  border-left: 2px;
  border-color: rgb(0,187,254);
  margin-bottom: 0;
  margin-right: 1rem;
  text-indent: 1rem;
  font-size: 0.8rem;
  text-align: center;
  background: rgb(246,246,246);
background: linear-gradient(122deg, rgba(246,246,246,0.9836309523809523) 0%, rgba(228,229,230,1) 100%);
  padding-right: 8px;
  max-width: 100%;
  min-width: 362px;
}
.card > .table:last-child {
  border-bottom: 4px;
}
.card > .tr:nth-child(odd) {
  background-color: rgb(27, 173, 27) !important;
}
.card > .table:not(.table-sm) th, .card > .table:not(.table-sm) td {
  padding: 0.1rem 0.1rem;
}
.card > .table td:first-child, .card > .table th:first-child {
  border-left: 2px;
}
.card > .table td:last-child, .card > .table th:last-child {
  border-right: 0;
}
.card > .table tr:first-child td, .card > .table tr:first-child th {
  border-top: 0;
}
.card > .table tr:last-child td {
  border-bottom: 0;
}
.card .card-header + .table {
  border-top: 0.3rem;
}

.th {
  background-color: #340957 !important;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  font-size:0.7rem;
  min-width: 362px;
}
.card-header {
    text-align: left;
    font-size: 0.8rem;
    font-weight: bold; 
    font-style: italic; 
    color: rgb(43, 2, 53) !important;
    background-color: #0eda0e !important;
    background-image: linear-gradient(to bottom right, #0eda0e, rgb(8, 216, 42));
    height: 2rem;
    padding-bottom: 0.5rem;
  padding-top: 0.2rem !important;
  padding-bottom: 0rem;
  border-right: 8px !important;
  border-left: 2px;
  border-color: transparent;
 
  max-width: 100%;
  min-width: 362px;
  
}

.card-header > span {
  background-color: #0eda0e !important;
  padding-left:6rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;  
}

.card {
    max-width: 1000px;
    min-width: 360px !important; 
    background-color:rgb(0,187,254);
    border:none;
    align-content: left;
}
.card-footer {
  background-color: #260442 !important;
  font-size: 0.8rem;
  color: rgb(220, 162, 238);
  height: 2.2rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  text-align: right;
  padding-right: 0rem;
  max-width: 100%;
  min-width: 362px;
}

.card-footer > span {
 padding-right: 1rem;
 color: rgb(233, 235, 232);
 font-weight:  bolder; 
 font-size: 1rem;
 text-align: center !important;
}

.prem {
  padding-right: 1rem;
  color: rgb(240, 245, 239) !important;
  font-weight:  normal; 
  font-size: 0.8rem;
  background-color: rgb(54, 3, 83);
  vertical-align: middle;
 }

 .info {
  max-width: 100%;
  min-width: 350px;
  border:none;
  background-color: transparent;
  vertical-align: middle;
  text-align: left;
  padding-right: 1rem;
  
  
 }
 .bullet-title {
   padding-left: 0rem !important;
   margin-left: 0rem !important;
   margin-bottom: 0.2rem;
   font-weight: 600;
 }


 .tbl-left {
  text-align: left;
 }

 .spacer {
  height: 0.5rem;
 margin-bottom: 0rem;
 background-color: rgb(0,187,254);
 }
 .navtheme {
   background-color: purple !important;
 }

 @media (min-width: 576px) {

   .th {
    
    font-size: 1rem; 
  }

 }