.info > h5 {
  color: rgb(241, 238, 235);
}

.infoCard {
  height: 100vh;
  width: 100vw;

  background-color: rgba(31, 165, 218, 0.984);
  padding-top: -8px !important;
  padding-left: 0;

  margin-top: 0 !important;

  border-collapse: collapse !important;
  border-bottom-style: hidden !important;
  border-left-style: hidden;
  border-color: rgba(31, 165, 218, 0.984);
}

#infocard-1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 165, 218, 0.984);
  margin-left: 0px;
}
.info {
  padding-right: 0.8rem;
  text-align: left;
}

.bullet-title {
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
}
.imageCtr {
  margin-left: auto;
  margin-right: 2rem;
  display: block;
}
