.table-summary {
    max-width: 550px;
   
background: linear-gradient(90deg, rgba(232,149,13,0.9836) 0%, rgba(255,235,0,1) 100%);
    background-color: hsl(24, 100%, 50%);
  }

  .td-number{
      width: 40px;
      
  }

  .td-name{
    width: 150px;
    
}

.td-total{
    width: 80px;
    
}

.tbl-summary {
   display: inline !important;
    background: rgb(8, 183, 236) !important; 
    padding-left: 0 !important;
    margin: 0 !important;

}