.table-summary {
    max-width: 550px;
   
background: linear-gradient(90deg, rgba(235, 120, 12, 0.984) 0%, rgb(255, 166, 0) 100%);
    background-color: hsl(24, 100%, 50%);
  }

  .td-number{
      width: 40px;
      
  }

  .td-name{
    width: 150px;
    
}

.td-total{
    width: 80px;
    
}

.tbl-summary {
   display: inline;
    background: rgb(8, 183, 236) !important; 
    padding-left: 0 !important;
    margin: 0 !important;

}